<div class="animate__animated animate__fadeInRight animate__faster">
  <div class="d-flex justify-content-center">
      <div class="card">
          <div class="card-body">
               <!-- Creamos Ingredientes-->
              <form class="form-horizontal m-t-20" *ngIf="this.esnuevo && !wait_form" [formGroup]="datosForm" (ngSubmit)="crearIngrediente()">
                  <img for="fotosubidas" [src]="filePicture" alt="Image" class="shadow">
                    <div style="margin-top: 1.5rem;" class="form-group">
                      <input type="text" placeholder="Nombre *" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': campoNoValido('nombre')}" id="nombre">
                          <div class="invalid-feedback">
                              El nombre es obligatorio y debe tener 3 caracteres como mínimo
                          </div>
                    </div>
                    <div class="form-group">
                      <select class="select2 form-control custom-select" name="un_medida" formControlName="unidad_medida" [ngClass]="{'is-invalid': campoNoValido('unidad_medida')}" id="unidad_medida">
                          <option value="" selected>Selecciona una unidad de medida</option>
                          <option value="kg">Kilos</option>
                          <option value="litros">Litros</option>
                          <option value="unidad">Unidad</option>
                      </select>
                        <div class="invalid-feedback">
                          Seleccione una unidad de medida de la lista
                        </div>
                    </div>
                    <div class="form-group">
                      <input type="number" placeholder="Precio por unidad de medida *" class="form-control" [ngClass]="{'is-invalid': campoNoValido('precio')}" formControlName="precio" id="precio">
                          <div class="invalid-feedback">
                              El precio es obligatorio y debe ser un número mayor de 0.1
                          </div>
                    </div>
                    <div class="form-group ">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input"
                               formControlName="imagen" name="file" id="fotosubidas" (change)="cambioImagen($event)" >
                        <label class="custom-file-label" for="fotosubidas" data-browse="Elegir">{{fileText}}</label>
                      </div>
                  </div>
                <div class="d-flex m-t-25 m-b-10">
                    <div class="divsbuttons align-content-center">
                      <button class="btn btn-danger" type="button" (click)="cancelar()" id="cancelar" [disabled]="datosForm.pristine">Cancelar</button>
                      <button class="input-submit" type="submit " id="enviar" [disabled]="datosForm.status == 'INVALID'"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                    </div>
                </div>
            </form>
            <!-- Editar ingrediente -->
            <form class="form-horizontal m-t-20" *ngIf="!this.esnuevo && !wait_form" [formGroup]="datosFormEdit" (ngSubmit)="editarIngrediente()">
              <img for="fotosubidas" [src]="filePicture" alt="Image" class="shadow">
                <div style="margin-top: 1.5rem;" class="form-group mar-bottom1">
                  <label>Nombre *</label>
                  <input type="text" placeholder="Nombre *" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': campoNoValido('nombre')}" id="nombre">
                      <div class="invalid-feedback">
                          El nombre es obligatorio y debe tener 3 caracteres como mínimo
                      </div>
                </div>
                <div class="form-group mar-bottom1">
                  <label>Unidad de medida *</label>
                  <select class="select2 form-control custom-select" name="un_medida" formControlName="unidad_medida" [ngClass]="{'is-invalid': campoNoValido('unidad_medida')}" id="unidad_medida">
                      <option value="" selected>Selecciona una unidad de medida</option>
                      <option value="kg">Kilos</option>
                      <option value="litros">Litros</option>
                      <option value="unidad">Unidad</option>
                  </select>
                    <div class="invalid-feedback">
                      Seleccione una unidad de medida de la lista
                    </div>
                </div>
                <div class="form-group mar-bottom1">
                  <label>Precio (en €) *</label>
                  <input type="number" placeholder="Precio por unidad de medida *" class="form-control" [ngClass]="{'is-invalid': campoNoValido('precio')}" formControlName="precio" id="precio">
                      <div class="invalid-feedback">
                          El precio es obligatorio y debe ser un número mayor de 0.1
                      </div>
                </div>
                <div class="form-group">
                  <label>Imagen</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input"
                           formControlName="imagen" name="file" id="fotosubidas" (change)="cambioImagen($event)" >
                    <label class="custom-file-label" for="fotosubidas" data-browse="Elegir">{{fileText}}</label>
                  </div>
              </div>
              <div class="d-flex m-t-25 m-b-10">
                  <div class="divsbuttons align-content-center">
                    <button class="btn btn-danger" type="button" (click)="cancelar()" id="cancelar" [disabled]="datosFormEdit.pristine">Cancelar</button>
                    <button class="input-submit" type="submit " id="enviar" [disabled]="datosFormEdit.status == 'INVALID' || datosFormEdit.pristine"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                  </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>

