<div class="animate__animated animate__fadeInRight animate__faster">
  <div class="d-flex justify-content-center">
      <div class="card">
          <div class="card-body">
              <!-- Creamos Pedidos-->
              <form class="form-horizontal m-t-20" *ngIf="this.esnuevo && !wait_form" [formGroup]="datosForm" (ngSubmit)="crearPlato()">
                    <div style="margin-top: 1.5rem;" class="form-group">
                      <input type="text" placeholder="Dia de menu *" class="form-control" onfocus="(this.type='date')" formControlName="fecha" id="nombre">
                          <div class="invalid-feedback">
                              La día es obligatorio
                          </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                      <input type="text" (input)="getPrimerPlato();" class="form-control" style="border-radius: 5px;" placeholder="Primer Plato *"
                          formControlName="firstPlate" [formControl]="filterPrimerPlato" [matAutocomplete]="auto">
                        <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptionsPrimerPlato | async" [value]="option.nombre">
                              {{option.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                      <input type="text" (input)="getIngredientes();" class="form-control" style="border-radius: 5px;" placeholder="Ingredientes *"
                          formControlName="ingredientes" [formControl]="filterIngredientes" [matAutocomplete]="auto">
                        <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptionsIngredientes | async" [value]="option.nombre">
                              {{option.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                      </div>
                    </div>
                <div class="d-flex m-t-25 m-b-10">
                    <div class="divsbuttons align-content-center">
                      <button class="btn btn-danger" type="button" (click)="cancelar()" id="cancelar" [disabled]="datosForm.pristine">Cancelar</button>
                      <button class="input-submit" type="submit " id="enviar" [disabled]="datosForm.status == 'INVALID'"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                    </div>
                </div>
            </form>
          </div>
      </div>
  </div>
</div>


