<div class="animate__animated animate__fadeInRight animate__faster">
  <div class="d-flex justify-content-center">
      <div class="card">
          <div class="card-body">
              <!--<div *ngIf="wait_form" class="content spinnerCSSMejorado">
                <div class="spinner">
                </div>
              </div> -->
               <!-- Creamos administradores-->
              <form class="form-horizontal m-t-20" *ngIf="this.esnuevo && !wait_form" [formGroup]="datosForm" (ngSubmit)="crearUsuario()">
                <h2 style="text-align: center;"> Crear Usuario </h2>
                <div class="form-group mar-bottom1">
                  <label>Nombre *</label>
                      <input type="text" placeholder="Nombre *" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': campoNoValido('nombre')}" id="nombre">
                          <div class="invalid-feedback">
                              El nombre es obligatorio y tiene que tener 8 caracteres como mínimo
                          </div>
                    </div>
                    <div class="form-group mar-bottom1">
                      <label>Correo electrónico *</label>
                        <input type="text" placeholder="Correo electrónico *" class="form-control" formControlName="email" [ngClass]="{'is-invalid': campoNoValido('email')}" id="email">
                            <div class="invalid-feedback">
                                El email es obligatorio, ejemplo: 'xxxx@xxx.xx'
                            </div>
                    </div>
                    <div class="form-group mar-bottom1">
                      <label>Teléfono</label>
                      <input type="text" placeholder="Telefono" class="form-control" [ngClass]="{'is-invalid': campoNoValido('telefono')}" formControlName="telefono" id="telefono">
                          <div class="invalid-feedback">
                              El telefono tiene que ser un telefono
                          </div>
                    </div>
                    <div class="form-group mar-bottom1">
                      <label>Rol *</label>
                        <select class="select2 form-control custom-select" name="Elige un rol" [ngClass]="{'is-invalid': campoNoValido('rol')}" formControlName="rol" id="rol">
                            <option value="" selected>Todos los roles</option>
                            <option value="ROL_ADMIN">Administrador</option>
                            <option value="ROL_SUPERVISOR">Supervisor</option>
                        </select>
                          <div class="invalid-feedback">
                            El rol es obligatorio y solo se puede elegir entre administrador y supervisor
                          </div>
                    </div>
                    <div *ngIf="this.datosForm.get('rol')?.value === 'ROL_SUPERVISOR'" class="form-group mar-bottom1">
                      <label>Colegio *</label>
                      <div class="input-group">
                      <input type="text" (keyup)="selectColegioTrueKey($event)"
                            (input)="getColegios(); selectColegio()" class="form-control"
                            style="border-radius: 5px;" placeholder="Colegio"
                            [ngClass]="{'is-invalid' : select_colegio && datosForm.get('rol')?.value === 'ROL_SUPERVISOR' }"
                          formControlName="colegio" [formControl]="filterColegio" [matAutocomplete]="auto">
                        <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                            <mat-option (click)="selectColegioTrue()" *ngFor="let option of filteredOptions | async" [value]="option.nombre">
                              {{option.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                        <div class="invalid-feedback">
                          Seleccione un colegio de la lista
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Ciudad *</label>
                      <input type="text" placeholder="Ciudad *" class="form-control" formControlName="ciudad" [ngClass]="{'is-invalid': campoNoValido('ciudad')}" id="ciudad">
                          <div class="invalid-feedback">
                              La ciudad es obligatoria y debe tener 2 caracteres como mínimo
                          </div>
                    </div>
                <div class="d-flex m-t-25 m-b-10">
                    <div class="divsbuttons align-content-center">
                      <button class="btn btn-danger" type="button" (click)="cancelar()" id="cancelar" [disabled]="datosForm.pristine">Cancelar</button>
                      <button class="input-submit" type="submit " id="enviar" [disabled]="datosForm.status == 'INVALID'"> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                    </div>
                </div>
            </form>
            <!-- Editamos los admins y supervisores -->
            <form class="form-horizontal m-t-20" *ngIf="!this.esnuevo && !wait_form" [formGroup]="datosFormEdit" (ngSubmit)="editarUsuario()">
              <h2 style="text-align: center;"> Editar Usuario </h2>
              <div class="form-group mar-bottom1">
                <label>Nombre *</label>
                <input type="text" placeholder="Nombre *" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': campoNoValidoEdit('nombre')}" id="nombre">
                    <div class="invalid-feedback">
                        El nombre es obligatorio y tiene que tener 8 caracteres como mínimo
                    </div>
              </div>
              <div class="form-group mar-bottom1">
                  <label>Correo electrónico *</label>
                  <input type="text" placeholder="Correo electrónico *" class="form-control" formControlName="email" [ngClass]="{'is-invalid': campoNoValidoEdit('email')}" id="email">
                      <div class="invalid-feedback">
                          El email es obligatorio, ejemplo: 'xxxx@xxx.xx'
                      </div>
              </div>
              <div class="form-group mar-bottom1">
                <label>Teléfono</label>
                <input type="text" placeholder="Telefono" class="form-control" [ngClass]="{'is-invalid': campoNoValidoEdit('telefono')}" formControlName="telefono" id="telefono">
                    <div class="invalid-feedback">
                        El telefono tiene que ser un telefono
                    </div>
              </div>
              <div class="form-group mar-bottom1">
                  <label>Rol *</label>
                  <select class="select2 form-control custom-select" name="Elige un rol" [ngClass]="{'is-invalid': campoNoValidoEdit('rol')}" formControlName="rol" id="rol">
                      <option value="" selected>Todos los roles</option>
                      <option value="ROL_ADMIN">Administrador</option>
                      <option value="ROL_SUPERVISOR">Supervisor</option>
                  </select>
                    <div class="invalid-feedback">
                      El rol es obligatorio y solo se puede elegir entre administrador y supervisor
                    </div>
              </div>
              <div *ngIf="this.datosFormEdit.get('rol')?.value === 'ROL_SUPERVISOR'" class="form-group mar-bottom1">
                <label>Colegio *</label>
                <div class="input-group">
                <input type="text" (keyup)="selectColegioTrueKey($event)"
                      (input)="getColegios(); selectColegio()" class="form-control"
                      style="border-radius: 5px;" placeholder="Colegio"
                      [ngClass]="{'is-invalid' : select_colegio && datosFormEdit.get('rol')?.value === 'ROL_SUPERVISOR' }"
                    formControlName="colegio" [formControl]="filterColegio" [matAutocomplete]="auto">
                  <mat-autocomplete style="border-radius: 20px; border: 2px solid #f1f2f3;" #auto="matAutocomplete">
                      <mat-option (click)="selectColegioTrue()" *ngFor="let option of filteredOptions | async" [value]="option.nombre">
                        {{option.nombre}}
                      </mat-option>
                  </mat-autocomplete>
                  <div class="invalid-feedback">
                    Seleccione un colegio de la lista
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Ciudad *</label>
                <input type="text" placeholder="Ciudad *" class="form-control" formControlName="ciudad" [ngClass]="{'is-invalid': campoNoValidoEdit('ciudad')}" id="ciudad">
                    <div class="invalid-feedback">
                        La ciudad es obligatoria y debe tener 2 caracteres como mínimo
                    </div>
              </div>
              <div class="d-flex m-t-25 m-b-10">
                  <div class="divsbuttons align-content-center">
                    <button class="btn btn-danger" type="button" (click)="cancelar()" id="cancelar" [disabled]="datosFormEdit.pristine">Cancelar</button>
                    <button class="input-submit" type="submit " id="enviar" [disabled]="datosFormEdit.status == 'INVALID' || datosFormEdit.pristine "> <i *ngIf="waiting" style="margin-right: 10px;" class="fas fa-circle-notch fa-spin"></i> Enviar</button>
                  </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>

