<!-- MAIN CONTENT-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="main-content">
  <div class="section__content section__content--p30">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-8">
                  <div class="au-card recent-report">
                      <div class="au-card-inner">
                          <h3 style="width: 170px;" class="title-2">Nº de visitas por lugar</h3>
                          <div>
                            <h2 style="text-align: center;"> No has creado ningún lugar todavía</h2>
                            <h3 style="text-align: center;"> Pincha <a routerLink="/commerce/comercios/comercio/nuevo">aquí</a> para dar de alta uno</h3>
                          </div>
                          <div id="divChart" style="height: 380px;">
                            <canvas id="myChart" style="color: violet;"></canvas>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->

