<!-- MAIN CONTENT-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="main-content">
  <div class="section__content section__content--p30">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-8">
                  <div class="au-card recent-report">
                      <div class="au-card-inner">
                          <div id="divChart" style="height: 250px;">
                            <canvas id="myChart"></canvas>
                          </div>
                      </div>
                      <div style="margin-top: 1.5em" class="au-card-inner">
                        <div id="divChart2" style="height: 250px;">
                          <canvas id="myChart2"></canvas>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->

