<app-navbar (propagar)="procesaPropagar($event)"></app-navbar>
<mat-sidenav-container (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav="matSidenav" (keydown.escape)="close('escape')" class="mat-elevation-z8">
      <button *ngFor="let i of menuItem" mat-button class="menu-button" [routerLink]="i.url">
        <i class="{{i.icon}} icons_menu"></i>
        <span>{{i.title}}</span>
      </button>
    <!-- <ul class="nav-list" id="listaullis">
      <li *ngFor="let i of menuItem" id="{{i.title}}">
          <a class="sidebar_a_admin" [routerLink]="i.url">
              <i class="{{i.icon}}"></i>
              <span class="sidebar-list-name">{{i.title}}</span>
              <span class="tooltip">{{i.title}}</span>
          </a>
      </li>
    </ul> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
